 /*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 23, 2025, 2:10:00 PM
    Author     : Luyen
*/

.Main{
    -fx-background-color: blueviolet;
    -fx-padding:10;
    -fx-alignment:CENTER;
    -fx-spacing:10;
}
.subject{
    -fx-font-size:40;
    -fx-fill:greenyellow;
    -fx-font-weight:bold;
    -fx-stroke-width:6;
    -fx-stroke:darkblue;
}
.button{
    -fx-background-color:greenyellow;
    -fx-pref-width:250;
    -fx-font-size:15;
    -fx-font-weight:bold;
}